#root {
  width: 100%;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  container-type: inline-size; 
}

.title {
  font-weight: 900;
  white-space: nowrap; 
  display: block;
  width: 100%;
  margin: 0;
  line-height: 2;
  letter-spacing: -4px;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-size: 6rem;
}

.title-separator {
  color: #f2613b;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.subtitle-separator {
  color: #f2613b;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.subtitle {
  font-size: 2.5rem;
  color: #f2613b;
  font-family: 'HunterFont', sans-serif;
  margin: 0;
}